.likes {
	--color: #FF0000;
}

.comment {
	--color: #808080;
}

.ion-icon {
	--ion-background-color: #FF0000;
}

.loading-image-size {
	height: 50px;
	width: 50px;
}

.loading-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
