<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{"FORGOT_PASSWORD" | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="none">
		<form [formGroup]="userForm">
			<ion-item>
				<ion-label position="floating">{{"EMAIL" | translate}}</ion-label>
				<ion-input type="email" placeholder="{{'EMAIL_INPUT' | translate}}" formControlName="email" required></ion-input>
			</ion-item>

			<ion-item *ngIf="isSubmitted && !userForm.controls.email.valid">
				<p>{{"EMAIL_ERROR" | translate}}</p>
			</ion-item>

			<div class="ion-text-center">
				<ion-button type="submit" color="primary" shape="round" fill="solid" (click)="onSubmit()"
										[disabled]="!userForm.controls.email.valid">{{"RESET_PASSWORD" | translate}}
				</ion-button>
			</div>
		</form>
	</ion-list>
</ion-content>
