.logo{
	max-height: 50vh;
	display: block;
	margin: 0 auto;
}

.google {
	--background: #FF0000;
}

.facebook {
	--background: #1877F2;
}

.apple {
	--background: #000000;
}

.align-bottom {
	position: absolute;
	bottom: 1em;
	left: 0;
	width: 100%;
}
