<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>기본 테마</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="tertiary">tertiary</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success">success</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="warning">warning</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="danger">danger</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="dark">dark</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="medium">medium</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="kblue">light</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="kpink">KPink</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
