ion-footer {
	font-size: 1em;
	color: #474747;
	background-color: #e3e3e3;
}

.coinPrice {
	font-size: 0.8em;
	color: #575757;
}

.upArrow {
	color: #f53d3d;
}

.upColor {
	margin-top: 10px;
	font-size: 1.2em;
	color: #f53d3d;
}

.downArrow {
	color: #488aff;
}

.downColor {
	margin-top: 10px;
	font-size: 1.2em;
	color: #488aff;
}
