<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
		<ion-title>{{"ABOUT" | translate}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div id="container">
		<h3>실전 아이오닉 5 프로그래밍</h3>
		<strong>책 목차</strong>
		<p>제 1 부 아이오닉 시작하기</p>
		<p>제 2 부 KMeetUp 앱 개발하기</p>
		<p>제 3 부 프로그레시브 웹 앱과 기계 학습</p>
	</div>
	<div class="align-bottom ion-text-center">Copyright 2021. KMeetUp, All rights reversed.</div>
</ion-content>
