<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{operatorName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="filterTest()">Ft</ion-button>
      <ion-button (click)="firstTest()">Fr</ion-button>
      <ion-button (click)="lastTest()">La</ion-button>
      <ion-button (click)="distinctTest()">Dt</ion-button>
      <ion-button (click)="takeTest()">T</ion-button>
      <ion-button (click)="debounceTest()">Db</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea auto-grow="true" [(ngModel)]="output"></ion-textarea>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="outline" color="primary" (click)="clear()">
        초기화
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
